#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

header, nav {
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */ 
  background-color: #000000;
  border-bottom-color: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  border-bottom-color: -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  border-bottom-color: -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  border-bottom-color: -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  border-bottom-color: linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */   
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #00d2ff;
  text-align: center;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00d2ff;
}

a:visited {
  color:#00d2ff;
}

#logo {
  text-align: center;
  margin: 0;
}

body {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */
}


